@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

p {
    color: #5a5959;
    font: {
      font-family: "Kantumruy Pro", sans-serif;
      size: 1em;
      margin: 10px;
      weight: 100;
    }
  }

h4 {
    color: #d7d7d7;
    font: {
      font-family: "Kantumruy Pro", sans-serif;
      size: 1em;
      margin: 10px;
      weight: 100;
    }
  }

  