.footer {
  align-items: center;
}

.footer__map {
  width: 100%;
  height: auto;
}

.footer__logo {
  width: 250px;
  align-items: center;
}

.footer__img {
  width: 70px;
  margin: 10px;
}

.footer__phones {
  justify-content: center;
  margin-top: 40px !important;
}

.footer__phones__content {
  margin-top: -28px !important;
}

